{{define "footer"}}
<footer class="container-fluid" id="footer">

        <div class="row">
            <div class="col-md-3 col-6">
                <h4>Information</h4>
                <ul class="list-unstyled">
                    <li><a href='/'>Home</a></li>
                    <li><a href='/services'>Services</a></li>
                    <li><a href='/products'>Products</a></li>
                    <li><a href='/reviews'>Reviews</a></li>
                    <li><a href='/about'>About Us</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-6">
                <h4>Working Time</h4>
                <ul class="list-unstyled">
                    <li>city. Astana, avenue. Turan, 12</li>
                    <li>mon-sun: 9:00 - 18:00</li>
                    <li>nonstop</li>
                </ul>
            </div>

            <div class="col-md-3 col-6">
                <h4>Contacts</h4>
                <ul class="list-unstyled">
                    <li><a href="tel:5551234567">555 123-45-67</a></li>
                    <li><a href="tel:5551234568">555 123-45-68</a></li>
                    <li><a href="tel:5551234569">555 123-45-69</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-6">
                <h4>Social Media</h4>
                <div class="footer-icons">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-youtube"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
        </div>

        <p class="float-end"><a href="#">Back to top</a></p>
        <p>© Капал - Арасан Resort</p>
    </footer>
{{end}}